/* Base styles for larger screens */
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "header header header header header header header header header header header header"
        "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3"
        "content content content content content content sidebar sidebar sidebar sidebar sidebar sidebar"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    width: 90%;
    gap: 15px; 
    margin: 0 auto;
}

.header {
    grid-area: header;
    border: 1px solid #333;
    padding: 90px;
    font-size: 15px;
}

.box1 {
    grid-area: box1;
    border: 1px solid #333;
    padding: 90px;
    font-size: 15px;
}

.box2 {
    grid-area: box2;
    border: 1px solid #333;
    padding: 90px;
    font-size: 15px;
}

.box3 {
    grid-area: box3;
    border: 1px solid #333;
    padding: 90px;
    font-size: 15px;
}

.content-container {
    grid-area: content;
    border: 1px solid #333;
    padding: 90px;
    font-size: 15px;
}

.sidebar {
    grid-area: sidebar;
    border: 1px solid #333;
    padding: 90px;
    font-size: 15px;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    border: 1px solid #333; 
    padding: 90px;
    gap: 30px; 
}

.footer-box1, .footer-box2, .footer-box3, .footer-box4 {
    border: 1px solid #333;
    padding: 90px;
    font-size: 15px;
    grid-column: span 3; 
	gap: 90px;
}

/* Media Query for smaller desktop screens between 1200px and 960px */
@media only screen and (max-width: 1200px) and (min-width: 960px) {
    .box-container {
        grid-template-areas:
            "header header header header header header header header header header header header"
            "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3"
            "content content content content content content sidebar sidebar sidebar sidebar sidebar sidebar"
            "footer footer footer footer footer footer footer footer footer footer footer footer";
        grid-template-columns: repeat(12, 1fr); 
        gap: 10px; 
        margin-left: 55px;
        margin-right: 55px;
		margin-top: 10px;
    }

    .header {
        padding: 65px; 
        font-size: 15px; 
    }

    
    .box1 {
        grid-column: span 4; 
        padding: 30px;
        font-size: 15px;
    }

    .box2 {
        grid-column: span 4; 
        padding: 30px;
        font-size: 15px;
    }

    .box3 {
        grid-column: span 4; 
        padding: 30px;
        font-size: 15px;
    }

    .content-container, .sidebar {
        padding: 30px;
        font-size: 15px;
    }

    .footer {
        grid-area: footer;
        grid-template-columns: repeat(12, 1fr); 
        gap: 10px;
    }

    .footer-box1, .footer-box2, .footer-box3, .footer-box4 {
        grid-column: span 3; 
        padding: 30px;
        font-size: 15px;
		gap: 5px;
    }
}

/* Media Query for tablet screens between 960px and 768px */
@media only screen and (max-width: 960px) and (min-width: 768px) {
    .box-container {
        grid-template-areas:
            "header header header header header header header header header header header header"
            "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3"
            "content content content content content content sidebar sidebar . . . ."
            "footer footer footer footer footer footer footer footer footer footer footer footer";
        grid-template-columns: repeat(12, 1fr); 
        margin-left: 45px; 
        margin-right: 45px; 
    }

    .header {
        padding: 20px; 
        font-size: 15px; 
    }

    /* Adjust box1, box2, box3 to span more columns */
    .box1 {
        grid-column: span 4; 
        padding: 20px; 
        font-size: 15px;
    }

    .box2 {
        grid-column: span 4; 
        padding: 20px;
        font-size: 15px;
    }

    .box3 {
        grid-column: span 4; 
        padding: 20px;
        font-size: 15px;
    }

    .content-container, .sidebar {
        grid-column: span 6;
		padding: 20px;
        font-size: 15px;
    }

    .footer {
        grid-template-columns: repeat(6, 1fr); 
        gap: 10px; 
    }

    .footer-box1, .footer-box2, .footer-box3, .footer-box4 {
        grid-column: span 3; 
        padding: 20px;
        font-size: 15px; 
    }
}

/* Media Query for mobile screens less than 768px */
@media only screen and (max-width: 768px) {
    .box-container {
        grid-template-areas:
            "header"
            "box1"
            "box2"
            "box3"
            "content"
            "sidebar"
            "footer";
        grid-template-columns: 1fr; 
        gap: 10px; 
        margin-left: 35px;
        margin-right: 35px;
    }

    .header {
        padding: 20px; 
        font-size: 15px; 
    }

    .box1, .box2, .box3 {
        padding: 20px; 
        font-size: 15px; 
        grid-column: span 1; 
    }

    .content-container, .sidebar {
        padding: 20px; 
        font-size: 15px; 
        grid-column: span 1;
	}

    .footer {
        grid-column: span 1;
		grid-template-columns: 1fr; 
        padding: 20px;
        gap: 10px; 
    }

    .footer-box1, .footer-box2, .footer-box3, .footer-box4 {
        grid-column: span 1; 
        padding: 20px; 
        font-size: 15px; 
    }
}
